NEXTAUTH_URL={NEXTAUTH_URL} # The base URL of your NextAuth.js application, e.g., http://localhost:3000 or https://yourdomain.com
NEXTAUTH_SECRET={NEXTAUTH_SECRET} # A secret string used to encrypt the NextAuth.js session cookies. You can generate a random string for this. Make sure to use the same secret in both the frontend and backend (variable JWT_SECRET) if they are separate applications.

DISCORD_CLIENT_ID={DISCORD_CLIENT_ID} # The client ID of your Discord application, used for OAuth authentication.
DISCORD_CLIENT_SECRET={DISCORD_CLIENT_SECRET} # The client secret of your Discord application, used for OAuth authentication.

NEXT_PUBLIC_API_BASE_URL={NEXT_PUBLIC_API_BASE_URL} # The base URL of your backend API, e.g., http://localhost:8080/api or https://api.yourdomain.com. The variable name is prefixed with NEXT_PUBLIC_ to make it available in the frontend.