DB_URL=jdbc:postgresql://{DB_HOST}:{DB_PORT}/{DB_NAME}?currentSchema={SCHEMA_NAME}&sslmode=disable # The JDBC URL for connecting to your PostgreSQL database. Replace {DB_HOST}, {DB_PORT}, {DB_NAME}, and {SCHEMA_NAME} with your database connection details.
DB_USERNAME={DB_USERNAME} # The username for connecting to your PostgreSQL database.
DB_PASSWORD={DB_PASSWORD} # The password for connecting to your PostgreSQL database.

DISCORD_BOT_TOKEN={DISCORD_BOT_TOKEN} # The token for your Discord bot, used to authenticate with the Discord API. You can obtain this from the Discord Developer Portal when you create your bot application.

JWT_SECRET={JWT_SECRET} # A secret string used to sign and verify JSON Web Tokens (JWTs) for authentication. You can generate a random string for this. Make sure to use the same secret in both the backend and frontend (variable NEXTAUTH_SECRET) if they are separate applications.